# Copyright (C) 2019-present Arctic Ice Studio <development@arcticicestudio.com>
# Copyright (C) 2019-present Sven Greb <development@svengreb.de>
#
# Project:    Arctic Ocean Fractal
# Repository: https://github.com/arcticicestudio/arctic-ocean-fractal
# License:    MIT

# Automatically perform line feed (LF) normalization for files detected as text and leave all files detected as binary
# untouched.
* text=auto

# +--------+
# + Assets +
# +--------+
*.ai binary
*.png binary
